[submodule "postgres"]
	path = postgres
	url = git@github.com:cualbondi/postgres.git
	branch = master
[submodule "web"]
	path = web
	url = git@github.com:cualbondi/web.git
	branch = master
[submodule "web-buscador"]
	path = web-buscador
	url = git@github.com:cualbondi/web-buscador.git
	branch = master
[submodule "rtapi"]
	path = rtapi
	url = git@github.com:cualbondi/rtapi.git
	branch = master
[submodule "poller"]
	path = poller
	url = git@github.com:cualbondi/poller.git
	branch = master
