[submodule "api"]
	path = api
	url = git@github.com:cualbondi/api.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:cualbondi/postgres.git
[submodule "web"]
	path = web
	url = git@github.com:cualbondi/web.git
[submodule "apiv3"]
	path = apiv3
	url = git@github.com:cualbondi/apiv3.git
[submodule "web-buscador"]
	path = web-buscador
	url = git@github.com:cualbondi/web-buscador.git
[submodule "rtapi"]
	path = rtapi
	url = git@github.com:cualbondi/rtapi.git
[submodule "poller"]
	path = poller
	url = git@github.com:cualbondi/poller.git
